body{
    font-family: 'Jost', sans-serif;
}   
.card-user{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 15px;
    gap: 10px;
    margin: 0 0 10px 0;
    background-color: #042f2e;
    color: #F2F2F2;
}

.card-user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    
}

.card-user h4 {
    margin: 0;
    padding: 0;
}

.card-user p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.card-user div p span {
    display: inline-block;
    margin: 15px 10px 0 0;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
}

.card-user div p span.delete {
    color:#e11d48
}
