#header{
    background-color: #134e4a;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
    height: 80px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: 'Jost', sans-serif;
    

}

#header h1{
    margin: 0;
}

#header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}