#header{
    background-color: rgb(19 78 74);
    display: flex;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
    height: 80px;
}

#header h1{
    margin: 0;
}

#header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}